body
{
	font-family: "Helvetica, Arial, sans-serif";
	color: rgb(17, 17, 17);
	width: 100%;
	margin: 0 0;
	text-align: center;
	-webkit-overflow-scrolling: touch; 
	background: url("../img/bg-gradient-sand.png") repeat-x scroll 0px 0px, url("../img/bg-sand.png") repeat scroll 0px 0px, none repeat scroll 0% 0% rgb(245, 241, 232);
}

#cit
{
	margin: 0 auto;
	margin-bottom: 20px;
}

#vote 
{
	width: 75%;
	background-color: #111;
	zoom: 0.7;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 9px;
}

.box
{
	margin: 20px 0;
}

#vote img
{
	display:inline; 
	width: 70px;
	margin : 0 20px;
	-webkit-filter: invert(100%);
	filter : invert(100%);
}
.score
{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: Consolas;
	font-weight: bold;
	position: relative;
	top: -15px;
}
.content
{
	display: block;
	margin: 0 auto;
}

.content img
{
	width: 75%;
}

.content img.loader
{
	width: 100px;
}
.barre_left
{
	position: absolute;
	left: 0;
	width: 30px;
	background-color: #191919;
	opacity:0.8;
	height: 363px;
	top: 100px;
	z-index: 1000000000;
}

.barre_right
{
	position: absolute;
	right: 0;
	width: 30px;
	background-color: #191919;
	opacity:0.8;
	height: 363px;
	top: 100px;
	z-index: 1000000000;
}
.barre img
{
	opacity:1;
	width: 50px;
	height: 50px;
	position: relative;
	top: 40%;
	left: -10px;
}
.rightarrow
{
	position: relative;
	right: -10%;
}
@font-face {
  font-family: 'hk-demo';
  src: url('fonts/hk-demo.eot');
  src: url('fonts/hk-demo.eot#iefix') format('embedded-opentype'),
       url('fonts/hk-demo.woff') format('woff'),
       url('fonts/hk-demo.ttf') format('truetype'),
       url('fonts/hk-demo.svg#hk-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}
.demo-wrapper {
	background-color: #000;
}
.demo-wrapper .header {
	text-align: center;
	line-height: 55px;
	width: 100%;
	height: 50px;
	background-color: #D35400;
	color: #fff;
	text-shadow: 0 0 0 rgba(255,255,255,0);
}
.demo-wrapper .header .title { 
	font-family: 'Helvetica';
}
.demo-wrapper .header a,
.demo-wrapper .header a:hover,
.demo-wrapper .header a:active { 
	color: #fff !important;
	text-decoration: none;
	font-family: 'hk-demo';
	background-color: rgba(0,0,0,0);
	font-size: 17px;
	font-weight: normal;
}
.demo-wrapper .open a,
.demo-wrapper .open a:hover {
	padding: 7px 15px;
	background-color: #000;
	border-radius: 3px;
}
.demo-wrapper .header .open { 
	color: #fff;
	position: absolute;
}
.demo-wrapper .header .open.left {
	left: 20px;
	cursor: pointer;
}
.demo-wrapper .header .open.right {
	right: 20px;
	cursor: pointer;
}
.demo-wrapper .panel {
	background: #7F8C8D;
	color: #ECF0F1;
}
.demo-wrapper .panel li a 
{
	color: #FFF !important;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	font-size: 14px;
	padding: 15px 0px 15px 60px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #555;
	border-top: 1px solid #333;
	position: relative;
	/* font-weight: 400; */
	text-align: left;
}
.demo-wrapper .panel ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #333;
}
.demo-wrapper .panel .avatar {
	position: absolute;
	top: 8px;
	left: 20px;
}
.demo-wrapper .ui-panel-inner {
	padding: 0;
}
.demo-wrapper .panel li a:hover {
	background-color: none;
}

.selected_menu
{
	background-color: #333;
}

#info
{
	text-align: center;
	color: #111;
}

#info a
{
	color: #111;
}

.demo-wrapper .panel.right a:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	background-color: #2ECC71;
	right: 20px;
}
.demo-wrapper .panel.left a:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 11px;
	left: 20px;
	font-family: 'Helvetica';
	text-align: center;
	font-size: 18px;
}
.demo-wrapper .panel.left .index  a:before, .demo-wrapper .panel.left .indexusa  a:before { 
	background: url("../img/quote.png") no-repeat;
}
.demo-wrapper .panel.left .user a:before { 
	background: url("../img/user.png") no-repeat;
}
.demo-wrapper .panel.left .contrib a:before { 
	background: url("../img/attente.png") no-repeat;
}
.demo-wrapper .panel.left .top a:before, .demo-wrapper .panel.left .topusa  a:before { 
	background: url("../img/top.png") no-repeat;
}
.demo-wrapper .panel.left .search a:before, .demo-wrapper .panel.left .searchusa  a:before { 
	background: url("../img/search.png") no-repeat;
}
.demo-wrapper .panel.left .applivote a:before, .demo-wrapper .panel.left .applivoteusa  a:before { 
	background: url("../img/android.png") no-repeat;
}
.demo-wrapper .panel.left .info a:before, .demo-wrapper .panel.left .infousa  a:before { 
	background: url("../img/info.png") no-repeat;
}
.demo-wrapper .panel.left .random a:before , .demo-wrapper .panel.left .randomusa  a:before{ 
	background: url("../img/rand.png") no-repeat;
}
.demo-wrapper .panel.left .home a:before { 
	background: url("../img/globe.png") no-repeat;
}
.myright
{
	position: absolute;
	right: 10px;
	top: 3px;
}
.myright a:before { 
	background: url("../img/search.png") no-repeat;

}

.score img
{
	width: 40px;
}
.afficherplus, .randomized, .afficherplususa, .randomizedusa
{
	background-color: #222222;
	color: #FFFFFF;
	font-size: 30px;
	padding: 10px 0;
	font-family: monospace;
}
