<div class="demo-wrapper" data-role="page" id="indexpage">
    <div style="position:fixed;" class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
        <span class="title">Citations</span>
    </div>
    <img src="img/sam.png" style="text-align: center;width: 100%;margin-top: 30px;display:block;">
    <div id="myflag" style="margin:0 auto;">
        <div class="usa" style="display:inline;">
            <img src="img/usa.png">
        </div>
        <div class="fr" style="display:inline;">
            <img src="img/fr.png">
        <div>
    </div>
<div>