<div class="demo-wrapper" data-role="page" id="frpage">
    <div data-role="panel" class="panel left" id="panel-01" data-position="left" data-display="push" data-theme="a" class="ui-panel ui-panel-position-left ui-panel-display-reveal ui-body-a ui-panel-animate ui-panel-open">
        <ul>
            <li class="index"><span></span><a href="#" title="Home" class="index">Citations célèbres</a></li>
            <li class="user"><a href="#" title="Profile">Citations d'utilisateurs</a></li>
            <li class="contrib"><a href="#" title="Setting">Contributions</a></li>
            <li class="top"><a href="#" title="Logout">Top</a></li>
            <li class="random"><a href="#" title="Logout">Aléatoire</a></li>
            <li class="home"><a href="#" title="info">Changer de langue</a></li>
            <li class="info"><a href="#" title="info">Infos</a></li>
        </ul>
        <a href="#" title="home" class="home"><img class="index" src="img/logo.png" style="width: 120px; margin-top: 10px;"></a>
    </div>
	<div style="position:fixed;" class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span class="open left"><a href="#panel-01">&#61641;</a></span>
        <span class="title">Citations</span>
        <span class="myright"><a href="#panel-02" class="myright"><img src="img/search.png" class="search"></a></span>
	</div>
    <div class="content">
        <div id="cit"></div>
        <div class="afficherplus">Suivant</div>
        <div class="randomized random">Aléatoire</div>
        <div id="loading" style="display:none;"><img src="img/scroll_loader.gif" alt="loading" class="loader"></div>
        <div class="loading" id="nomoreresults" style="display:none;">The End.</div>
    </div>
    <div class="append_js">
        <script type="text/javascript" src="js/citations_fr.js"></script>
    </div>
</div>