<div class="demo-wrapper" data-role="page">
    <div data-role="panel" class="panel left" id="panel-01" data-position="left" data-display="push" data-theme="a" class="ui-panel ui-panel-position-left ui-panel-display-reveal ui-body-a ui-panel-animate ui-panel-open">
        <ul>

            <li class="indexusa"><span></span><a href="#" title="Home" class="index">Quotes</a></li>
            <li class="topusa"><a href="#" title="Logout">Top quotes</a></li>
            <li class="randomusa"><a href="#" title="Logout">Random</a></li>
            <li class="home"><a href="#" title="info">Change language</a></li>
            <li class="infousa"><a href="#" title="info">Infos</a></li>
        </ul>
        <a href="#" title="home" class="home"><img class="index" src="img/logo.png" style="width: 120px; margin-top: 10px;"></a>
    </div>
    <div style="position:fixed;" class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
        <span class="open left"><a href="#panel-01">&#61641;</a></span>
        <span class="title">Citations</span>
        <span class="myright"><a href="#panel-02" class="myright"><img src="img/search.png" class="searchusa"></a></span>
    </div>
    <div class="content">
        <div id="cit"></div>
        <div class="afficherplususa">Next</div>
        <div class="randomizedusa randomusa">Random</div>
        <div id="loading" style="display:none;"><img src="img/scroll_loader.gif" alt="loading" class="loader"></div>
        <div class="loading" id="nomoreresults" style="display:none;">The End.</div>
    </div>
    <div class="append_js">
        <script type="text/javascript" src="js/citations_usa.js"></script>
    </div>
</div>