
{% extends "::base.html.twig" %}

{% block title %}
  Dealer d'inspiration! - {{ parent() }}
{% endblock %}

{% block header %}
{% render url('quote_citation_header_admin') %}
{% endblock %}

{% block body %}
<div id="cit"> 
  {% for valeur in citation %}
  <br /><br />
	<div id="{{ valeur.nom_image }}" class="inlineBlock box">
    <a href="{{ path('quote_citation_delete', {'id': valeur.id}) }}">DELETE</a> 
  {% if href == 'contributions' %}
  <a href="{{ path('quote_citation_update', {'id': valeur.id}) }}">VALIDER</a> <br /><br />
      <a href="{{ path('quote_citation_attente_unique', {'id': valeur.id}) }}/{{valeur.citation}}" title="Citation - {{ valeur.nom_image }}">
  {% elseif href == 'user' %}
      <a href="{{ path('quote_citation_attente_user_unique', {'id': valeur.id}) }}/{{valeur.citation}}" title="Citation - {{ valeur.nom_image }}">
  {% else %}
      <a href="{{ path('quote_citation_unique', {'id': valeur.id}) }}/{{valeur.citation}}" title="Citation - {{ valeur.nom_image }}">
  {% endif %}
		<img src="{{asset(src ~ '/' ~ valeur.nom_image ~ '.png')}}" alt="{{ valeur.nom_image }}" class="image-citations"/>
		</a>
	</div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
  starts = 0;
  $(window).scroll(function(event)
  {
      event.preventDefault();
      if($(window).scrollTop() == $(document).height() - $(window).height())
      {
          $('#loading').show();
          starts = starts + 8;
          urlAjax = "{{ path('quote_citation_ajax_scroll') }}/" + starts + "/{{ table }}/{{search}}";
          $.ajax({
            url: urlAjax,
            type:"GET",
            cache: true,
            success: function(html)
            {
                if(html && html != null)
                {
                    $("#cit").append(html);
                }
                else
                {
                    $('#nomoreresults').show();
                }
                $('#loading').hide();
            }
          });
      }
      
  });
  </script>
{% endblock %}
  