
{% extends "::base.html.twig" %}

{% block title %}
 Login - {{ parent() }}
{% endblock %}

{% block header %}
{% render url('quote_citation_header_genre') %}
{% endblock %}

{% block body %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
 
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
 
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
 
    <input type="submit" name="login" />
</form>
{% endblock %}