<!DOCTYPE html>
<html>
<head>
  <title>Citation - Android</title>
<style type="text/css">
body
{
  background-color: rgb(44,44,44);
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
  color: #fff;
  width: 100%;
  margin: 0 0;
  padding: 0;
  text-align: center;
  -webkit-overflow-scrolling: touch; 
}
#android
{
  margin: 0 auto;
  padding: 0;
  width:90%;
  background-color: #525252;
}
h1
{
  color: #ffffff;
}
img
{
  border:none;
  margin:20px 10px;
}
a.continue
{
  display: block;
  margin-top: 100px;
  color: #ffffff;
}
a.appli
{
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}
a.appli:hover
{
  text-decoration: underline;
}
</style>
</head>
<body>
<div id="android">
  <h1>Notre application est maintenant disponible pour android !</h1>
  <a href="https://play.google.com/store/apps/details?id=citations.co.quote">
  <img src="{{asset('img/logo.png')}}" alt="logo"/>
  <img src="{{asset('img/android.png')}}" alt="android logo" height="200"/>
  </a>
  <a href="https://play.google.com/store/apps/details?id=citations.co.quote" class="appli">Telecharger l'application</a>
  <a href="http://www.citations.co" class="continue">Continuer vers citations.co</a>
</div>
</body>
</head>
