
{% extends "::base.html.twig" %}

{% block title %}
  {{ citation.auteur }} : {{ citation.citation }} - {{ parent() }}
{% endblock %}

{% block meta %}
{% block meta_facebook %}
<meta property="og:title" content="{{ citation.auteur }} : {{ citation.citation }}" />
<meta property="og:url" content="http://www.citations.co/citation/{{ citation.id }}/{{ citation.citation }}"/>
<meta property="og:image" content={{asset('citations-upload/' ~ citation.nom_image ~ '.png')}}/>
<meta property="og:description" content="Deal de l'inspiration maintenant avec citations.co !"/>
{% endblock %}
{% endblock %}

{% block body %}
        <div id="content_unique" class="marginAuto textCenter">
		<div id="{{ citation.nom_image }}" class="inlineBlock box">
  {% if type == 'citation' %}
      <img src="{{asset('citations-upload/' ~ citation.nom_image ~ '.png')}}" alt="{{ citation.nom_image }}" class="image-citations"/>
  {% else %}
      <img src="{{asset('citations-attente/' ~ citation.nom_image ~ '.png')}}" alt="{{ citation.nom_image }}" class="image-citations"/>
  {% endif %}
			
  </div>
   <br />
    <a title="Partager sur Facebook" href="http://www.facebook.com/share.php?u=http://www.citations.co/citation/{{ citation.id }}/{{ citation.citation }}" onclick="return fbs_click()" target="_blank">
      <img src="{{ asset('img/fpartager.png') }}" alt="Partager sur Facebook" />
    </a>
  </div>
  <div id="infos_citation">
      <p>
        <span>{{ citation.citation }} - {{ citation.auteur }}</span>
        <br />
        <span>Deal de l'inspiration maintenant avec&nbsp;</span>
        <a href="http://www.facebook.com/pages/Citations/1208112539330170">Citations</a>
        <span>!</span>
        <div class='tags'>
          {% set tags = citation.tag|split(',') %}
          {% if citation.tag%}
          {% for valeur in tags %}
          <span><a href="{{ path('quote_citation_recherche', {'recherche': valeur}) }}">{{valeur}}</a></span>
          {% endfor %}
          {%endif%}
        </div>
      </p>
  </div>
{% endblock %}