
{% extends "::base.html.twig" %}

{% block title %}
  Connexion - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/styleform.css') }}" type="text/css" />
{% endblock %}
{% block body %}
  {% if message_valide %}
  <div class="notif succes"><ul><li>{{ message_valide|raw }}</ul></li></div>
  {% endif %}
        <div id="proposition_form">
          <h1>CONNEXION</h1>
            <form method="post" class="form" enctype="form">
              <p class="name">
                <label>Nom d'utilisateur ou adresse email</label><br /><input type="text" class="input" name="nom">
              </p>
              <p class="name">
                <label>Mot de passe</label><br /><input type="password" class="input" name="password">
              </p>
              <p class="submit">
                <input type="submit" class="btn btn-primary" name="connexion"/>
              </p>
              {% if error %}
                    <div class="champs_error">{{ error|raw }}</div>
              {% endif %}         
            </form>
        </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/select.jquery.min.js') }}"></script>
<script type="text/javascript">
$(function(){

$('select.styled').customSelect();

});
</script>
{% endblock %}
