
{% extends "::base.html.twig" %}

{% block title %}
 {{title}} - {{ parent() }}
{% endblock %}

{% block meta %}
{% block meta_facebook %}
<meta property="og:title" content="citations" />
<meta property="og:url" content="http://www.citations.co"/>
<meta property="og:image" content="http://www.citations.co/media/img/logo.png"/>
<meta property="og:description" content="Deal de l'inspiration maintenant avec citations.co !"/>
{% endblock %}
{% endblock %}

{% block header %}
{% render url('quote_citation_header_genre') %}
{% endblock %}

{% block body %}
<div id="cit"> 
  {% for valeur in citation %}
	<div id="{{ valeur.imagename }}" class="inlineBlock box">
      <a class="first" href="/citation/{{valeur.id}}/{{valeur.citation}}" entryid="{{ path('quote_menu_left')}}/{{valeur.id}}" title="Citation - {{ valeur.auteur }}">
		    <img src="{{asset(src ~ '/' ~ valeur.imagename ~ '.png')}}" alt="{{ valeur.auteur }}" class="image-citations"/>
		  </a>
	</div>
  {% endfor %}
</div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
  starts = 0;
  $(window).scroll(function(event)
  {
      event.preventDefault();
      var load = 8;
      var scroll = 50;
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) 
      {
        var scroll = 150;
      }
      if($(document).scrollTop() >= $(document).height() - $(window).height() - scroll)
      {
          $('#loading').show();
          starts = starts + load;
          urlAjax = "{{ path('quote_citation_ajax_scroll') }}/" + starts + "/{{ table }}/{{search}}";
          $.ajax({
            url: urlAjax,
            type:"GET",
            cache: true,
            success: function(html)
            {
                if(html && html != null)
                {
                  $("#pageslide").hide(500);
                    $("#cit").append(html);
                }
                else
                {
                    $('#nomoreresults').show();
                }
                $('#loading').hide();
            }
          });
      }
  });
  </script>
<script type="text/javascript">
$(document).ready(function(){
  $(".first").live("click", function(event) {
    event.preventDefault();
       if($("#pageslide").is(":visible"))
       {
          if ($(this).attr("entryid") == $("#pageslide").attr("class"))
          {
              $("#pageslide").removeClass();
              $("#pageslide").hide(500);
          }
          else
          {
            $("#pageslide").empty();
            $("#pageslide").load($(this).attr("entryid"));
            $("#pageslide").removeClass();
            $("#pageslide").addClass($(this).attr("entryid"));
          }
       }
       else
       {
          $("#pageslide").show(500);
          $("#pageslide").load($(this).attr("entryid"));
          $("#pageslide").removeClass();
          $("#pageslide").addClass($(this).attr("entryid"));
       }
       return false;
  });
});
  </script>
{% endblock %}
  