
{% extends "::base.html.twig" %}

{% block title %}
  Inscription - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/styleform.css') }}" type="text/css" />
{% endblock %}
{% block body %}
  {% if message_valide %}
  <div class="notif succes"><ul><li>{{ message_valide|raw }}</ul></li></div>
  {% endif %}
        <div id="proposition_form">
          <h1>INSCRIPTION</h1>
            <form method="post" class="form" {{ form_enctype(form) }}>
              <p class="name">
                {{ form_label(form.pseudo, "Nom d'utilisateur") }}<br />{{ form_widget(form.pseudo, { 'attr': {'class': 'input'} }) }}
                <div class="champs_error">{{ form_errors(form.pseudo) }}</div>
              </p>
              <p class="name">
                {{ form_label(form.email, "Adresse email") }}<br />{{ form_widget(form.email, { 'attr': {'class': 'input', 'type': 'email'}}) }}
                <div class="champs_error">{{ form_errors(form.email) }}</div>
              </p>
              <p class="name">
                {{ form_label(form.password.first) }}<br />{{ form_widget(form.password.first, { 'attr': {'class': 'input', 'type': 'password'}}) }}
              </p>
              <p class="name">
                {{ form_label(form.password.second) }}<br />{{ form_widget(form.password.second, { 'attr': {'class': 'input', 'type': 'password'}}) }}
                <div class="champs_error">{{ form_errors(form.password.first) }}</div>
              </p>
              <p class="submit">
                <input type="submit" class="btn btn-primary" />
              </p>
              {{ form_rest(form) }}
            </form>
        </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/select.jquery.min.js') }}"></script>
<script type="text/javascript">
$(function(){

$('select.styled').customSelect();

});
</script>
{% endblock %}
