<style type="text/css">
body
{
  background-color:  rgb(44,44,44);
}
input
{
  font-size: 16px;
}
input.input, textarea { 
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
    font-weight: bolder;
    font-size: 16px;
  width: 200px;
  color : #555;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  border-radius: 20px;
  }
form
{
  text-align: center;
}
textarea { 
  width: 400px;
  max-width: 400px;
  height: 40px;
  font-weight: bolder;
  color:#555;
  font-size: 16px;
  margin-bottom: 15px;
  }

textarea.input { 
height: 22px;
  }

input.input:hover, textarea:hover,
input.input:focus, textarea:focus { 
  border-color: #C9C9C9; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  }

.form label { 
  margin-left: 10px; 
  color: #b8b7b7; 
    font-size: 18px;
  }

.submit input {
  cursor: pointer;
  width: auto;
  padding: 6px 14px;
  background: #4e4a4a;
  border: 1px solid #b8b7b7;
  font-size: 16px;
  color: #b8b7b7;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  }
  .notif
  {
    width :600px;
    border : 1px solid white;
    font-size: 18px;
    border-radius: 5px;
    margin : 0 auto 20px auto;
  }
  .error
  {
    background-color: #ea2525;
    color : #fff;
    text-align: center;
    padding :10px;
  }
  .succes
  {
    background-color: #75ea6f;
    color : #59566f;
    text-align: center;
    padding :10px;

  }

.boutton_admin
{
  width: 100px;
  height : 40px;
  text-align: center;
  padding:10px;
  text-decoration: none;
}
#proposition_form
{
  background-color: #2C2C2C;
  border-radius: 20px;
  margin: 0 auto;
  padding:10px;
}
#proposition_form h1
{
  color : #b8b7b7;
  font-weight: lighter;
  font-size: 23px;
}
span.customSelect 
{ 
  background: url(../img/select-box-bg.gif) right center;
  padding: 6px 10px;
  border: 1px solid #b7bfcf;
  font-size:16px;
  color: #555;
  font-weight: bolder;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-radius: 10px; 
  width:200px;
}
.champs_error
{
  color: #db734b;
  font-size: 18px;
}
p.com
{
    text-align: center;
    padding: 10px 0;
    margin-top: -90px;
}

.boutton_admin
{
  width: 100px;
  height : 40px;
  text-align: center;
  padding:10px;
  text-decoration: none;
}

img.wm
{
  position: relative;
  left: 140px;
  margin-bottom: 15px;
}
.psl img
{
  margin-left: -0px;
  width: 240px;
  height: 320px;
  margin-top: 20px;
  float: left;
}

.addby
{
  color: #bfbfbf;
  font-size: 21px;
  margin-top: -80px;
  position: relative;
  top: -80px;
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.connectyou
{
  color: #bfbfbf;
  font-size: 18px;
  text-align: center;
}

a
{
   color: #bfbfbf;
  text-decoration: underline;
}

a:hover
{
  text-decoration: none;
  color: #fff;
}

.vote
{
  z-index:100;
  position: relative;
  top: 30px;
  left: 10px;
  float: left;
}
.vote img
{
  width: 50%;
  margin: 0 auto;
  display: block;
}

.vote img:hover
{
  -webkit-filter: invert(100%);
}

.score
{
  color: #bfbfbf;
  font-size: 50px;
  text-align: center;
  font-family: Consolas;
  display : block;
  font-weight: bold;
}

.afficher_commentaire
{
  cursor: pointer;
  width: auto;
  padding: 6px 14px;
  background: #4e4a4a;
  border: 1px solid #b8b7b7;
  font-size: 20px;
  color: #b8b7b7;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-decoration: none;
  font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

#social_tag
{
  display: block;
  margin: 0 auto;
}

a.tags
{
  text-decoration: none;
  color: #555;
  border: none;
  border-radius: 5px;
  margin: 20px 2px;
  background-color: #FFF;
  text-align: center;
  padding: 8px;
}
</style>
{%if logged%}
{%if app.session.get('admin') == 1%}
<a href="{{ path('quote_delete') }}/{{citation.id}}" class='logo'>DELETE !</a>
{%endif%}
{%endif%}
<a href="#" class='close' style="position:absolute;right:20px;z-index: 10000;" title="close"><img src="{{asset('img/remove.png')}}"  alt="close" title="close" width="30px"></a>
<a href="{{ path('quote_citation_index') }}" class='logo'><img src="{{asset('watermark/logo_droite1.png')}}" class="wm" alt="logo"></a>
<hr />
{%if exist == 1%}
  <div id="blockleft" class="box2">
        <img src="{{asset('citations-upload/' ~ citation.imagename ~ '.png')}}" alt="{{ citation.auteur }}" class="image-citations"/>
      <div class="vote">
      <a class="havevote" href="{{ path('quote_citation_update_score', {'score': 1, 'id': citation.id }) }}" title="j'aime"><img style="margin-bottom: -15px;" src="{{asset('img/voteup.png')}}"></a>
        <span class="score">{{ citation.score }}</span>
        <a class="havevote" href="{{ path('quote_citation_update_score', {'score': 0, 'id': citation.id }) }}" title="je n'aime pas"><img style="margin-top: -15px;" src="{{asset('img/votedown.png')}}"></a>
      </div>
      <div class="share" >
        <a title="Partager sur Facebook" href="http://www.facebook.com/share.php?u=http://www.citations.co/citation/{{ citation.id }}/{{ citation.citation }}" onclick="return fbs_click()" target="_blank">
          <img src="{{ asset('img/fpartager.png') }}" alt="Partager sur Facebook" />
        </a>
      </div>
      <br style="clear:left;">
      <p class="addby">
            <span >Ajouté par <a href="{{ path('quote_citation_user_profile', {'id': citation.id_user}) }}" title="Allez sur le profil de {{ citation.pseudo }}">{{ citation.pseudo }}</a></span>
      </p>
    <hr style="position: relative;margin-left: -1px;top: -90px;"/>
    <div id="infos_citation">
          <p>
            <span>{{ citation.citation }} - {{ citation.auteur }}</span>
          </p>
    </div>
     <hr style="position: relative;top: -90px;"/>
              <p class="com">
                <a href="" class="afficher_commentaire">Afficher les commentaires</a>
              </p>
     <hr style="width:120px;" />
<div class="social_tag" >
<p style="text-align: center;">
  <a href="https://www.facebook.com/page.citations.co"> <img src="{{ asset('img/fb.png') }}" alt="Acceder a notre page facebook" width="80"/></a>
  <a href="https://twitter.com/Citationsco"><img src="{{ asset('img/twitter.png') }}" alt="Acceder a notre page twitter" width="80"/></a>
</p>
<p style="text-align: center;">
          {% set tags = citation.tag|split(',') %}
          {% if citation.tag%}
          {% for valeur in tags %}
          <span><a class='tags' href="{{ path('quote_citation_recherche', {'recherche': valeur}) }}">{{valeur}}</a></span>
          {% endfor %}
          {%endif%}
      </p>
</div>
<hr style="clear:left;"/>
       <div id="comment">
  {%if logged%}
        <div id="proposition_form">
            <form method="post" class="form" enctype="form" action="{{ path('quote_add_message')}}" id="form_comment">
              <p class="name">
                <label>Ajouter un commentaire (200 caracteres max)</label><br /><textarea type="text" class="input" name="comment" id="textareacomment"></textarea>
              </p>
              <p class="submit">
              <input type="hidden" name="citation_id" value="{{citation.id}}" id="citationvalue"/>
                <input type="submit" class="btn btn-primary" name="Ajouter" id="add_message"/>
              </p>
              {% if error %}
                    <div class="champs_error">{{ error|raw }}</div>
              {% endif %}         
            </form>
        </div>
  {%else%}
    <p class="connectyou"><span><a href="{{ path('quote_citation_connexion')}}" title="Connexion">Connectez vous</a> pour ajouter des commentaires</span></p>
  {%endif%}
  <div id="display_message">
  <hr style="width:120px;" />
{% if count_message == 0 %}
    <div id="no_comment">
          <p>
            <span>Aucun commentaire.</span>
          </p>
    </div>
    <div class="load_message"></div>
{% else %}
<div class="load_message"></div>
{% for valeur in message %}
<p id="message">
<strong>
<a href="{{ path('quote_citation_user_profile', {'id': citation.id_user}) }}" title="Allez sur le profil de {{ citation.pseudo }}">{{valeur.pseudo}}</a></strong><br />
{{valeur.comment}}</p>
{% endfor %}
{%endif%}
  </div>
    </div>
    <script type="text/javascript">
    $(document).ready( function () {
   $('.afficher_commentaire').click(function() {
     $('#pageslide').animate({scrollTop: $("#comment").offset().top}, 'slow');
     return (false);
   });
   $('.havevote').click(function() {
     $(".score").load($(this).attr("href"));
     return (false);
   });
   $('.close').click(function() {
    $("#pageslide").hide(500);
     return (false);
   });
   $('#add_message').click(function() {
    message = $("#textareacomment").val();
    cit = $("#citationvalue").val();
    url = $("#form_comment").attr('action');
      $.ajax({
        url: url,
        type:"POST",
        data: {comment : message, citation_id : cit, Ajouter : ""},
        cache: true,
        success: function(html)
        {
            if(html)
            {
              $('#pageslide').animate({scrollTop: $(".load_message").offset().top}, 'slow');
              $(".load_message").prepend(html);
            }
            else
            {
            }
        }
      });
      return false;
  });
})
    </script>
</div>
{%endif%}
