
<div class="menu-left-left">
  <div class="menu-left boutton-upload"><a href="{{ path('quote_citation_index') }}"><img src="{{ asset('img/citations.png') }}" alt="citations"/></a></div>
  <div class="menu-left boutton-attente"><a href="{{ path('quote_citation_users') }}"><img src="{{ asset('img/onyva.png') }}" alt="utilisateur" style="max-width:142px;"/></a></div>
    <div class="menu-left boutton-attente"><a href="{{ path('quote_citation_contributions') }}"><img src="{{ asset('img/contributions.png') }}" alt="contributions" style="max-width:142px;"/></a></div>
  <div class="menu-left boutton-droite"><a href="{{ path('quote_citation_proposer') }}"><img src="{{ asset('img/proposer.png') }}" alt="proposer"/></a></div>
</div>
        <div class="header2">
      {% if app.session.get('user_id') %}
    <a class="boutton-connexion" href="{{ path('quote_citation_user_profile',{'id': app.session.get('user_id')}) }}">PROFIL</a>
      <a class="boutton-inscription" href="{{ path('quote_citation_deconnexion') }}">DECONNEXION</a>
      {%else%}
    <a class="boutton-connexion" href="{{ path('quote_citation_connexion') }}">CONNEXION</a>
      <a class="boutton-inscription" href="{{ path('quote_citation_inscription') }}">INSCRIPTION</a>
      {%endif%}
    </div>
  <form class="form_search" method="get" action="/recherche/">
    <input type="text" class="search" value=""/> 
    <input type="submit" style="visibility:hidden;"/>
  </form>
  <div class='boutton_genre'></div>
  <div class="genre">
  	<ul>
  {% for valeur in genre %}
<li><a href="{{ path('quote_citation_recherche',{'recherche': valeur.genre}) }}">{{valeur.genre}}</a></li>
  {% endfor %}
</ul>
  </div>
