
{% extends "::base.html.twig" %}

{% block title %}
 Profile - {{ parent() }}
{% endblock %}

{% block meta %}
{% block meta_facebook %}
<meta property="og:title" content="citations" />
<meta property="og:url" content="http://www.citations.co"/>
<meta property="og:image" content="http://www.citations.co/media/img/logo.png"/>
<meta property="og:description" content="Deal de l'inspiration maintenant avec citations.co !"/>
{% endblock %}
<div id="cit">
</div>
{% endblock %}

{% block header %}
{% render url('quote_citation_header_genre') %}
{% endblock %}

{% block body %}
<div id="profile">
<div id="header_profile">
	<img src="{{ asset('img/default_user.png') }}" class="img_profil">
	<h4 class="titre_profil">{{pseudo}}</h4>
	<br style="clear:left;">
</div>
<hr style="width:80%;margin:20px auto;">
	<div class="wrap">
				<h2>Ajouts</h2>

				<div class="scrollbar">
					<div class="handle" style="-webkit-transform: translateZ(0px) translateX(94px); width: 232px;">
						<div class="mousearea"></div>
					</div>
				</div>

				<div class="frame effects" id="effects" style="overflow: hidden;">
					<ul class="clearfix" style="-webkit-transform: translateZ(0px) translateX(-84px); width: 5610px;">
					  {% for valeur in citation_user %}
					  <li>
					      <a class="first" href="{{ path('quote_menu_left')}}/{{valeur.id}}" title="Citation - {{ valeur.auteur }}">
							    <img src="{{asset('citations-upload/' ~ valeur.imagename ~ '.png')}}" alt="{{ valeur.auteur }}" class="image-citations"/>
						  </a>
						</li>
					  {% endfor %}
						{% for i in range(0, 5) %}
						    <span></span>
						{% endfor %}
					</ul>
				</div>
	</div>

	<div class="wrap">
				<h2>Citations favorites</h2>

				<div class="scrollbar">
					<div class="handle" style="-webkit-transform: translateZ(0px) translateX(94px); width: 232px;">
						<div class="mousearea"></div>
					</div>
				</div>

				<div class="frame effects" id="eff" style="overflow: hidden;">
					<ul class="clearfix" style="-webkit-transform: translateZ(0px) translateX(-84px); width: 5610px;">
					  {% for valeur in citation_like %}
					  <li>
					      <a class="first" href="{{ path('quote_menu_left')}}/{{valeur.id}}" title="Citation - {{ valeur.auteur }}">
							    <img src="{{asset('citations-upload/' ~ valeur.imagename ~ '.png')}}" alt="{{ valeur.auteur }}" class="image-citations"/>
						  </a>
						</li>
					  {% endfor %}
						{% for i in range(0, 5) %}
						    <span></span>
						{% endfor %}
					</ul>
				</div>
	</div>
</div>
{% endblock %}

    {% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/sly.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/horiz.js') }}"></script>
  </script>
<script type="text/javascript">
$(document).ready(function(){
  $(".first").live("click", function(event) {
    event.preventDefault();
       if($("#pageslide").is(":visible"))
       {
          if ($(this).attr("href") == $("#pageslide").attr("class"))
          {
              $("#pageslide").removeClass();
              $("#pageslide").hide(500);
          }
          else
          {
            $("#pageslide").empty();
            $("#pageslide").load($(this).attr("href"));
            $("#pageslide").removeClass();
            $("#pageslide").addClass($(this).attr("href"));
          }
       }
       else
       {
          $("#pageslide").show(500);
          $("#pageslide").load($(this).attr("href"));
          $("#pageslide").removeClass();
          $("#pageslide").addClass($(this).attr("href"));
       }
       return false;
  });
});
  </script>
    {% endblock %}

  