
{% extends "::base.html.twig" %}

{% block title %}
  Proposer vos citations ! - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/styleform.css') }}" type="text/css" />
{% endblock %}
{% block body %}
        {% if image_target %}
        <div class="notif succes"><ul><li>{{ message_valide|raw }}</ul></li></div>
        <img src="{{asset(image_target)}}" class="image_form_validate"/>
        {% endif %}
        <div id="proposition_form">
          <h1>PROPOSER DES CITATIONS</h1>
            <form method="post" class="form" {{ form_enctype(form) }}>
              <p class="name">
                <div class="upload_file">Sélectionnez une image (facultatif){{ form_widget(form.attachment) }}</div>​
                {% if image_error %}
                  <div class="champs_error"><ul><li>{{ image_error|raw }}</ul></li></div>
                {% endif %}
              </p>
              <p class="name">
                {{ form_label(form.auteur, "Nom de l'auteur") }}<br />{{ form_widget(form.auteur, { 'attr': {'class': 'input'} }) }}
                <div class="champs_error">{{ form_errors(form.auteur) }}</div>
              </p>
              <p class="text">
                {{ form_label(form.tag, "Thème de la citation") }}<br />{{ form_widget(form.tag, { 'attr': {'class': 'styled'} }) }}
                <div class="champs_error">{{ form_errors(form.tag) }}</div>
              </p>
              <p class="text">
                {{ form_label(form.type, "Type de la citation") }}<br />{{ form_widget(form.type, { 'attr': {'class': 'styled'} }) }}
                <div class="champs_error">{{ form_errors(form.type) }}</div>
              </p>
              <p class="text">
                {{ form_label(form.citation, "Citation") }}<br />{{ form_widget(form.citation) }}
                <div class="champs_error">{{ form_errors(form.citation) }}</div>
              </p>
              <p class="submit">
                <input type="submit" class="btn btn-primary" />
              </p>
              {{ form_rest(form) }}
            </form>
        {% if connect_error %}
          <div class="champs_error"><ul><li>{{ connect_error|raw }}</ul></li></div>
        {% endif %}
        </div>

{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/select.jquery.min.js') }}"></script>
<script type="text/javascript">
$(function(){

$('select.styled').customSelect();

});
</script>
{% endblock %}
