
  {% for valeur in citation %}
  <div id="{{ valeur.imagename }}" class="inlineBlock box">
      <a class="first" href="/citation/{{valeur.id}}/{{valeur.citation}}" entryid="{{ path('quote_menu_left')}}/{{valeur.id}}" title="Citation - {{ valeur.auteur }}">
        <img src="{{asset('citations-upload/' ~ valeur.imagename ~ '.png')}}" alt="{{ valeur.auteur }}" class="image-citations"/>
      </a>
  </div>
  {% endfor %}